
/Wikimedia2024Game/.vs/Wikimedia2024Game/v16
Wikimedia2024Game/.vsconfig
*.csproj
/Wikimedia2024Game/Library
/Wikimedia2024Game/Library
/Wikimedia2024Game/Temp
*.sln
/Wikimedia2024Game/UserSettings
/Wikimedia2024Game/obj
/Wikimedia2024Game/Logs
/build_web
Wikimedia2024Game/.vs/Wikimedia2024Game/v17/DocumentLayout.json
Wikimedia2024Game/.vs/Wikimedia2024Game/v17/.suo
/Wikimedia2024Game/.vs
